body {
    background-color: #DBAF79;
    font-family: sans-serif;
}

.container {
    justify-content: center;
    max-width: 1024px;
    height: 100vh;
    margin: auto;
}

.title {
    text-align: center;
    font-family: "Arbutus", serif;
    color: #252627;
}

#dice-holder {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    justify-content: center;
}

.dice {
    width: 60px;
    height: 60px;
    margin: 2px 10px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    rotate: 0deg;
}

.dice-rolling {
    animation: roll 0.25s linear 4;
}

@keyframes roll {
    100% { transform: rotate(360deg);}
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-bottom: solid 4px #3e8e41;
    color: #F9F6EE;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    margin-bottom: 40px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}   

.white {
    background-color: #F9F6EE;
    border-color: #252627;
    color: #252627;
}

.black {
    background-color: #252627;
    border-color: #F9F6EE;
    color: #F9F6EE;
}

#results {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    font-size: 2em;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

#results .item {
    border-top: black solid 2px;
}

.passive {
    margin-bottom: 100px;
}

.active {
    grid-row-start: 2; 
    grid-row-end: 6
}

/* .column p:nth-child(even) {
    background-color: #c79c68;
} */

span.white, span.black{
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px; 
    margin:2px;
    font-size: 0.6em;
}

.double {
    color: #AD343E;
    font-weight: 900;
    font-style: italic;
    line-height: 50%;
}

@media (max-width: 510px)
{
    #results {
        font-size: 1.2em;
    }

    span.white, span.black {
        width: 20px;
        height: 20px;
    }
}